# --- requirements.txt (CPU version) ---
streamlit
fastapi
uvicorn
python-multipart
langchain
langchain-community>=0.0.11
langchain-pinecone>=0.0.3
langchain-openai>=0.0.5
langchain_openai
langgraph
pinecone-client>=3.0.0
openai
tiktoken
prometheus-fastapi-instrumentator
langfuse
python-dotenv
pymupdf>=1.23.0
faiss-cpu
sentence-transformers
transformers
openai-whisper
requests
google-generativeai
ipython
orjson
black
flake8
autopep8
tenacity
aiofiles
httpx
pydantic>=1.10
jinja2
python-socketio
